<html>
    <head>
        <link href="app.css" rel="stylesheet"/>
    </head>
    <body>
        <section class="review-form">
            <h3>Download Reviews</h3>
            <form id="form">
                <label>Enter Url:</label>
                <input type="text" class="url-input" name="url" id="url">
                <button type="submit">Submit</button>
            </form>
            <p class="error-message" id="error-message"></p>
        </section>
    </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="index.js"></script>