<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Download Google Places Review">
        <meta name="keywords" content="Google Reviews">
        <meta name="author" content="Sarah Chima">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reviews Downloader</title>
                  
        <link href="app.css" rel="stylesheet"/>
    </head>
    <body>
        <section class="review-form">
            <h3>Download Reviews</h3>
            <form id="form">
                <label>Enter Url:</label>
                <input type="text" class="url-input" name="url" id="url-input">
                <button class="" type="submit" id="submit-button">Submit</button>
            </form>
            <p class="error-message" id="error-message"></p>
        </section>
    </body>
</html>

<script src="index.js"></script>